configparser
easygui
filelock
h5py
ipdb
matplotlib
natsort
numpy
pandas
pynput
pyperclip
scipy
seaborn
sortedcontainers
tqdm

pillow
pyyaml
requests
boto3
botocore
oss2
setuptools

concave_hull
alphashape
shapely

gtts
lark_oapi
