myst-parser
sphinx_rtd_theme
sphinxcontrib.mermaid
sphinx_copybutton
configparser
easygui
numpy
matplotlib
seaborn
pandas
pyperclip
scipy
h5py
sortedcontainers
pillow
requests
boto3
botocore
setuptools
